/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    width: 100%;
}

body:before {
    content: "";
    position: absolute;
    background: transparent url('../img/background.jpg') 0 0 no-repeat fixed;
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 100%; width: 100%; /* Using Glen Maddern's trick /via @mente */

    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}

.banner {
    text-align: center;
    color: #fefefe;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
    position: absolute;
    left: 50%;
    margin-left: -445px;
    top: 50%;
    margin-top: -100px;
    background: rgba(0, 0, 0, 0.42);
    padding: 10px 40px;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
    color: #fefefe;
}

p {
    line-height: 1.6em;
}
