{% load staticfiles %}
<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>EventeX - Comunidade Python!</title>
            <link rel="stylesheet" href="{% static "css/pure.min.css" %}">
            <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a href="#" class="pure-menu-heading">EventeX</a>
            <ul>
                <li><a href="#">Home</a></li>
                <li class="pure-menu-selected"><a href="#">Inscreva-se</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="banner">
            <h1 class="banner-head">
                Simple Pricing.<br>
                Try before you buy.
            </h1>
        </div>

        <div class="footer">
            <p class="l-box">
                <a href="#">Try now</a> for 14 days. No credit card required. Header image courtesy of <a href='http://unsplash.com/'>Unsplash</a>.
            </p>
        </div>
    </body>
</html>
